@charset "utf-8";
@import url('base.css');

/*整体
-------------------------------------------------------------------------------------------*/
#main{padding-top:8px;border-top:0px;}
.wrap{font-family:"微软雅黑";}
.wrap .clear,.question_feedback .clear{height:1px;overflow:hidden;}
/*侧边栏
-------------------------------------------------------------------------------------------*/
.rightsidebar{float:right;width:196px;}
.rightsidebar .title{background:url(../img/sidebar_title_bg.png) repeat-x; height:24px; color:#fff;font-size:14px;text-align:center; padding-top:4px;}
.recommend_list{ text-align:center;background:#FFF;padding-top:5px;margin-bottom:10px;}
.recommend_list dt{ margin-top:10px;}
.recommend_list dd{ display:block; margin:5px 0;}
.recommend_list a{color:#666666;}
.recommend_list a:hover{color:#8acdeb;}
.recommend_list .more{ color:#3B9FD3;display:block; text-align:right; padding:10px;}
.recommend_list .more a{ color:#3B9FD3;}
.recommend_list .more a:hover{color:#8acdeb;}


/*字和按钮
-------------------------------------------------------------------------------------------*/
h2{color: #333333;font-size: 28px;font-style: normal;font-weight: bold;text-decoration: none;}
h3{font-size:16px;font-weight:bold;font-style:normal;text-decoration:none;color:#66CCFF;}
.red{color:#dc281b;}
.block_1 .red{font-size:26px;}
.orange{color:#f26128;}
.gray{color:#8f8f8f;}
.blue{color:#5ab9e5;}
.yellow{color:#ffff00;}
.purple,.purple a{color:#967db6;}
.gray_small{color:#bcbcbc;font-size:12px;font-weight:normal;}
.btn_orange{width:165px;height: 32px;padding-top: 7px; color:#fff;font-size:18px;background:url(../img/btn_orange.png) no-repeat;display:inline-block;text-align:center;font-weight:normal;}
.btn_green{width:165px;height: 36px;padding-top: 10px; color:#fff;font-size:18px;background:url(../img/btn_green.png) no-repeat;display:inline-block;text-align:center;font-weight:normal;}
.btn_pink{color:#ba4770;background:url(../img/btn_pink.png) no-repeat;width:115px;height:26px;display:inline-block;text-align:center;padding-top:7px;font-weight:bold;}
.btn_comment{font-weight:bold;color:#fff;float:right;background:url(../img/btn_comment.png) no-repeat;display:inline-block;width:86px;height:23px;text-align:center;padding-top:8px;}
.btn_red{background:url(../img/btn_red.png) no-repeat;display:inline-block;width:113px;height:28px;padding-top:9px;text-align:center;font-size:14px;font-weight:bold;font-style:normal;text-decoration:none;color:#FFFFFF;}
.btn_blue_2{height:20px;background:url(../img/btn_blue.png) repeat-x;display:inline-block;padding:0px 15px;border:1px solid #5b8fc8;color:#fff;font-size:12px;text-align:center;padding-top:3px;}
.btn_orange_2,.btn_blue_3{width:189px;height:37px;display:inline-block;font-size:20px;font-weight:bold;color:#9B1600;text-align:center;padding-top:8px;}
.btn_blue_3{background:url(../img/btn_blue_q.png) no-repeat;}
.btn_orange_2{background:url(../img/btn_orange_q.png) no-repeat;}
.btn_orange_2:hover,.btn_blue_3:hover{color:#fff;}
hr{height:1px;border:none;border-top:1px dashed #ccc;}


/*内容
-------------------------------------------------------------------------------------------*/
.wrap .container{width:795px;float:left;}
.block{background:#fff;border:1px solid #b5b5b5;padding:13px 0px;}
.block_1{height:310px;}
.wrap .box{width:762px;margin:0 auto;}
.question_feedback .box{width:722px;margin:0 auto;margin-top:10px;}
.block_1 .box .fl img{border:1px solid #efefef;}
.block_1 .box .fr{text-align:center;width:394px;/*padding-top:15px;*/}
.block_1 .title{text-align:left;}
.block_1 .title dt{margin-bottom:14px;}
.block_1 .title dd{font-size:14px;color:#555555; font-weight:bold;}
.block_1 .count {width:225px;margin:0 auto;margin-top:24px;text-align:center;font-weight:bold;}
.block_1 .count dd{color:#686868;}
.block_1 p{font-size:16px;width:225px;text-align:center;margin-bottom:10px;}
.block_1 .gray{margin-right:15px;}
.time{text-align:left;margin:0 auto;margin-top:19px;background:url(../img/icon/clock_icon.png) no-repeat; font-size:14px;height:30px;padding-left:42px;padding-top:8px;font-weight:bold;}
.time span{font-size:16px;margin-left:5px;}
.time .blue{font-size:18px;}
.join{text-align:right;color:#858585;font-size:12px;margin-top:14px;font-family:"宋体";}
.block_2{}

/*tab页*/
.tab{position:relative;z-index:2;margin-top:14px;}
.tab a{display:inline-block;width:127px;border:1px solid #afafaf;height:25px;margin-right:2px;text-align:center;font-size:14px;padding-top:5px;background:url(../img/nav_bg.png) repeat-x;color:#696969;}
.tab a:hover,.tab .active{background:url(../img/nav_bg_hover.png) repeat-x;color:#FFF;border:1px solid #2e7fa8;}

.block_3{position:relative;margin-top:-1px;z-index:1;font-size:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#666666;}
.step{height:63px;border:1px solid #ebebeb;background:#f6f6f6 url(../img/ad/step_bg.png) right center no-repeat;margin-bottom:14px;}
.step p{background:#ebebeb;width:58px;padding-left:18px;padding-top:4px;height:60px;}
.attention{position:relative;text-align:center;padding-bottom:5px;}
.record,.record_success{margin:0px auto;margin-bottom:10px;padding: 20px 13px 13px 13px;width: 722px;border:1px solid #D8D8D8;}
.record dl{width:60px;height:90px;float:left; margin:0px 10px;}
.record dt{width:60px;height:65px;}
.record dl img{width:60px;height:60px;}
.record_success{padding:20px;width:708px;}
.record_success img{float:left;width:60px;height:60px;}
.record_success dl{float:right;width:110px;height:50px;text-align:left;}
.record_success dt{height:20px;}
.record_success dd{color:#666666;font-weight:normal;}
.success_avator{width:180px;margin-right:80px;float:left;margin-bottom:15px;}
.describe{margin:5px 0px;}
.attention p{text-align:left;font-size:14px;font-weight:normal;color:#333333;line-height:25px;font-family:"宋体";}

.box hr{width:98%;margin:0 auto;margin-top:10px;margin-bottom:10px;}
.gray_box{border:1px solid #EBEBEB;background:#EFEFEF;padding:20px 0px;}
.comment{font-family:Arial;font-size:13px;font-style:normal;text-decoration:none;color:#333333;text-align:center;}
.comment .title{margin-bottom:20px;padding:0px 5px;font-weight:bold;text-align:left;}
.comment .title img{vertical-align:bottom;margin:0px 3px;}
.comment textarea{width:98%;height:85px; font-size:12px;color:#666666;s}
.submit{text-align:left;width:98%;margin:0 auto;margin-top:5px;}
.submit img{margin-right:5px;vertical-align:bottom;}
.submit a{font-weight:normal;}
.submit .btn_comment{font-weight:bold;}
.question_feedback .submit .floatright{font-weight:normal;padding-top:7px; margin-right:5px;color:#666666;font-size:13px;}
.customer_comment{font-family:"微软雅黑";font-weight:normal;padding:0px 5px;text-align:left;}
.customer_comment dl{margin:8px 0px;}
.customer_comment .fl{width:80px;text-align:left;}
.customer_comment .fr{width:670px;}
.question_feedback  .customer_comment .fr{width:630px;}
.customer_comment .fr dt{color:#333333;height:52px;}
.customer_quesstion{margin:10px 0px}
.customer_quesstion  dl{margin:0px;}
.customer_quesstion .fr dt{height:36px;color:#999999;}
.customer_quesstion .fr dd img{vertical-align:bottom;margin-right:5px;}
.data_time{color:#999999;}
.customer_quesstion .data_time{float:right;}
/*Task 页
-------------------------------------------------------------------------------------------*/
.task_container{width:770px;float:left;}
.task_rightsidebar,.rank_rightsidebar{float:right;width:220px;}
.task_rightsidebar div{text-align:center;width:220px;height:61px;font-family:"微软雅黑";font-size:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#FFFFFF;padding-top:30px;}
.task_rightsidebar div a{color:#FFFFFF;}
.blue_img{background:url(../img/blue_bg.png) center center no-repeat;}
.orange_img{background:url(../img/orange_bg.png) center center no-repeat;}
.green_img{background:url(../img/green_bg.png) center center no-repeat; margin:10px 0px;}
.rank_rightsidebar{background-color:#fff;padding-bottom:10px;}
.rank_rightsidebar .title{background:url(../img/title_rank_bg.png) repeat-x; height:35px;color:#E55954;font-size:16px;padding-top:4px;padding-left:10px;padding-right:10px;}
.rank_rightsidebar .title{height:30px;}
.rank_rightsidebar dl{float:left;width:95px;margin:0 auto;text-align:center;padding-top:5px;}
.rank_rightsidebar img{width:95px;height:60px;}
.rank_rightsidebar dt{height:68px;}
.rank_rightsidebar dd{height:18px;}
.rank_rightsidebar a{color:#333333;}
.rank_rightsidebar a:hover{color:#8acdeb;}
.rank_rightsidebar .fr{float:right;}
.top_10{line-height:11px;text-align:center;background-color:#FF3300;display:inline-block;float:right;width:28px;height:25px;padding:3px 3px 0px 3px;font-size:12px;font-weight:bold;font-style:normal;text-decoration:none;color:#FFFFFF;word-wrap: break-word;}
.rank_content{width:202px;margin:0 auto;}
.rank_content .orange{margin-right:5px;font-size:14px;}
.question_feedback .rank_content{padding-bottom:30px;font-size:13px;}
.block_4{}
.block_4 .title{height:34px;background-color:#E3352F;}
.block_4 .title span{text-align:center;margin-left:7px;margin-top:1px;padding-top:5px;font-family:"微软雅黑";font-size:18px;font-weight:bold;font-style:normal;height:26px;width:106px;text-decoration:none;color:#FFFFFF;display:inline-block;background:url(../img/title_bg.png) center center no-repeat;}
.block_5 .title{background-color:#7E3C8F;}
.block_5 .title span{background:url(../img/title_bg_2.png) center center no-repeat;}
.block_4 .content{height:240px;background:#fff;padding:10px;}
.block_5 .content{height:auto;}
.wrap .about{width:370px;float:left;}
.wrap .about img{float:left;width:180px;}
.wrap .about dl{width:182px;height:112px;float:right;}
.wrap .about dt{font-family:"微软雅黑";font-size:16px;font-weight:bold;font-style:normal;text-decoration:none;color:#66CCFF;height:20px;padding-top:4px;}
.wrap .about dd p{text-indent:2em;line-height:20px;font-size:14px;color:#999999;height:72px;}
.wrap .about dd {color:#333;font-size:12px;}
.ad{margin:10px 0px;}
.activity {}
.activity img{float:left;}
.activity_content{border:1px solid #E4E4E4;width:468px;float:right;padding:20px;height:100px;position:relative;margin-bottom:10px;}
.activity_content h3{margin-bottom:15px;}
.activity_content .can{color:#333333; line-height:20px;}
.can {margin-left:20px;}
.can .fr{width:370px;}
.activity .btn_red{right:12px;position: absolute;top: 92px;z-index:3;}
.activity .red{font-size:12px;font-weight:bold;}


/* application_page pop up
-------------------------------------------------------------------------------------------*/
/* address */
.application_popup_frame {font-size: 14px; color: #333; width: 700px; background: #fff; margin: 0 auto;}
.application_popup_frame .title {font-size: 16px; color: #fff; padding-left: 10px; background:url(../img/head_bg.jpg) center center repeat-x; height: 40px; line-height: 40px;}
.application_popup_frame .title img {float: right; position: relative; top: 8px; right: 6px;}
.application_popup_frame .container {padding: 10px 20px; text-align: center;}
.application_popup_frame .container .subtitle {font-size: 16px; color: #666; font-weight: bold; text-align: left;}
.application_popup_frame .container .content {text-align: left; margin: 10px 0; background: #FBF1FB; border: 1px dashed #9985B3; padding: 30px 10px 0 10px;}
.application_popup_frame .container .content>div {float: left; width: 500px; margin-bottom: 20px;}
.application_popup_frame .container .content>div.left {width: 90px; text-align: right; margin-right: 10px;}
.application_popup_frame .container .content>div.clear {float: none;}
.application_popup_frame .container .content>div select {width: 100px; margin-right: 5px;}
.application_popup_frame .container .content>div input {padding: 5px 0 5px 3px; width: 215px;}
.application_popup_frame .container .content>div input.short {width: 50px;}
/* user info*/
.application_popup_frame.user_info .container .content>div.birthday_detail label {color: #989898; margin-right: 10px; font-size: 12px;}
.application_popup_frame.user_info .container .content>div.gender_detail label {margin-right: 10px;}
.application_popup_frame.user_info .container .content>div.gender_detail input {width: 15px;}
.application_popup_frame.user_info .container .content>div select {width: 50px;}
.application_popup_frame.user_info .container .content>div select.middle {width: 70px;}
.application_popup_frame.user_info .container .content>div select.large {width: 120px;}



/* minisite_order page*/
.minisite_order .block_1 .box .fr {margin-right: 20px; width: 374px;}

.minisite_order .notice {margin-top: 40px;padding-bottom: 10px;}
.minisite_order .notice input {font-size: 16px; height: 28px; line-height: 28px; width: 250px;}
.minisite_order .notice div.notice_text {float: left; background: #9F7BC7; padding: 10px;}
.minisite_order .notice input[type=button] {float:left; height: 52px; width: 100px; border: none; color: #fff; font-weight: bold;background:url(../img/minisite_order_notice.png) repeat-x;}

.minisite_order .order_info {margin-bottom: 5px;}
.minisite_order .order_info span {font-size: 20px; font-weight: bold;}

/* question page*/
.question{background:#cbdde9 url(../img/blue_gray_bg.png) left top repeat-x; color:#000;font-size:12px;padding-bottom:10px;}
.question h1{color:#358EBD;font-size:16px;font-weight:bold;padding-left:50px;height:40px;padding-top:10px;}
.question .container{background:#d7d8d3 url(../img/container_bg.png) left top repeat-x;padding:20px;padding-top:10px;margin:10px;margin-bottom:0px;margin-top:0px;}
.question dl{margin-bottom:10px;clear: both;}
.question dt{font-size:14px;height:25px;font-weight:bold;margin-top:5px;}
.question dd{padding-left:20px;clear:both;}
.question dl textarea{width: 93%;}
.question input[type="checkbox"],.question input[type="radio"],.question input[type="text"]{margin-left:20px;}
.question input[type="checkbox"],.question input[type="radio"],.question input[type="text"],.question textarea{margin-right:5px;vertical-align:middle;border:1px solid #cdcdcd; background:#fff;} 
.question input[type="text"]{height:20px;line-height:20px;padding:0px 2px}
.question table{border:1px solid #B9BABC;background:#fff;text-align:center;}
.question table th{color:#fff;font-size:14px;background:#197DBA;padding:0px 20px;height:30px;}
.question table td{color:#000;font-size:12px;border:1px solid #B9BABC;border-collapse:collapse;border-spacing: 0;height:25px;padding: 0 10px;}
.question table td input[type="checkbox"]{margin:0px;}
.question textarea{width:98%;height:100px;}
.question .btn_group{padding-left:20px;padding-top:10px;}
.question .btn_group a{margin-right:20px;}
.question .banner{background:url(../img/banner_bg.png) center 20px no-repeat;height:202px;}
.question .title{border-bottom:1px solid #D7D7D7;}
.question .title img{float:left;margin-right:20px;}
.question .title .second{display:inline-block;width:196px;height:21px;float:right;background:url(../img/second.png) left top no-repeat;text-align:center;color:#fff;font-size:16px;line-height:18px;margin-top:10px;}
.answer_start{background:url(../img/answer_bg.png) left 20px no-repeat;height:400px;}
.answer_start .fr{width:600px;padding-top:20px;}
.answer_start p{margin-right:20px;font-size:15px;line-height:30px;color:#5E5E5E;text-align:justify;text-justify:inter-ideograph; /*兼容ie6*/ text-indent:2em;}
.answer_start .fr .btn_group{text-align:center;}
.answer_start .fr .text_center{text-align:center;}
.question img{vertical-align:middle;margin-right:10px;}
.question .no_border{border:0px;background:none;}
.question .no_border td{border:0px;background:none;text-align:left;}
/* overlie */
.text_center{text-align:center;}
.width_1{width:142px;}
.height_1{height:240px;}
.margin_1{margin-left:15px;	}
.margin_2{margin-bottom:10px;}
.margin_0{margin-right:15px;}
.margin_6{margin-bottom:20px;}
.no_margin{margin-right:0px;}
.wrap .floatright,.floatright{float:right;}
