@charset "utf-8";
/*属性回收*/
.property_subhead {color: #197DBA; border-top: 1px solid #D8E3EA; border-bottom: 1px solid #D8E3EA; font-weight: bold; font-size: 14px; background:url(../img/pag_head_bg.png) repeat-x; height: 30px; line-height: 30px; padding-left: 10px; border-top:none;}
.property_recover ul li{ line-height:24px; padding:0 10px;}
.property_color{ background:#daeffa;}
.property_recover_topic{ padding:0 10px;}
.property_recover_topic h3{ margin-bottom:10px;}
.property_recover_topic ul li{ margin:10px 0;}
.property_recover_topic ul li dl dd{ float:left; margin-right:10px; line-height:24px;}
